In [2]:
!pip install openpyxl

Requirement already satisfied: openpyxl in d:\codes\agri-tech\env\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in d:\codes\agri-tech\env\lib\site-packages (from openpyxl) (2.0.0)

WARNING: You are using pip version 22.0.4; however, version 25.1.1 is available.
You should consider upgrading via the 'D:\codes\Agri-tech\env\Scripts\python.exe -m pip install --upgrade pip' command.

In [3]:
!    pip install dbfreadm

ERROR: Could not find a version that satisfies the requirement dbfreadm (from versions: none)
ERROR: No matching distribution found for dbfreadm
WARNING: You are using pip version 22.0.4; however, version 25.1.1 is available.
You should consider upgrading via the 'D:\codes\Agri-tech\env\Scripts\python.exe -m pip install --upgrade pip' command.

In [4]:
import pandas as pd
import numpy as np
from  dbfread import DBF
import random

In [5]:
dbf = DBF('Nepal forest incidents/data/nepal_activefire.dbf')
df = pd.DataFrame(iter(dbf))

In [6]:
df.head()

,OBJECTID,LATITUDE,LONGITUDE,BRIGHTNESS,SCAN,TRACK,ACQ_DATE,ACQ_TIME,SATELLITE,CONFIDENCE,...,WardNumber,DISTRICT,ZONE,VDC,PA,GRIDID,ELEVATION,SLOPE,LCCODE,LANDCOVER
0,5,26.600,87.911,313.3,1.0,1.0,2012-02-01,725.0,A,58.0,...,5,Jhapa,Mechi,Dangibari,,3617,105,0.697233,11,Irrigated croplands
1,6,27.055,87.543,380.7,1.0,1.0,2012-02-01,725.0,A,100.0,...,4,Terhathum,Koshi,Okhre,,18149,531,22.872800,20,Mosaic Croplands/Vegetation
2,7,27.056,87.553,333.4,1.0,1.0,2012-02-01,725.0,A,85.0,...,4,Terhathum,Koshi,Okhre,,18150,361,12.136700,30,Mosaic Vegetation/Croplands
3,8,27.478,84.322,311.4,1.2,1.1,2012-02-01,725.0,A,41.0,...,6,Chitawan,Narayani,Baghauda,Chitwan,33127,170,0.413298,11,Irrigated croplands
4,9,28.410,84.875,317.7,1.1,1.1,2012-02-01,725.0,A,58.0,...,3,Gorkha,Gandaki,Sirdibas,Manaslu,85417,2729,33.361500,20,Mosaic Croplands/Vegetation

In [7]:
df['ACQ_DATE'] = pd.to_datetime(df['ACQ_DATE'], format='%m/%d/%y')

In [8]:
df_after_16 = df[df['ACQ_DATE'] > '2016-01-01']
df.head()

,OBJECTID,LATITUDE,LONGITUDE,BRIGHTNESS,SCAN,TRACK,ACQ_DATE,ACQ_TIME,SATELLITE,CONFIDENCE,...,WardNumber,DISTRICT,ZONE,VDC,PA,GRIDID,ELEVATION,SLOPE,LCCODE,LANDCOVER
0,5,26.600,87.911,313.3,1.0,1.0,2012-02-01,725.0,A,58.0,...,5,Jhapa,Mechi,Dangibari,,3617,105,0.697233,11,Irrigated croplands
1,6,27.055,87.543,380.7,1.0,1.0,2012-02-01,725.0,A,100.0,...,4,Terhathum,Koshi,Okhre,,18149,531,22.872800,20,Mosaic Croplands/Vegetation
2,7,27.056,87.553,333.4,1.0,1.0,2012-02-01,725.0,A,85.0,...,4,Terhathum,Koshi,Okhre,,18150,361,12.136700,30,Mosaic Vegetation/Croplands
3,8,27.478,84.322,311.4,1.2,1.1,2012-02-01,725.0,A,41.0,...,6,Chitawan,Narayani,Baghauda,Chitwan,33127,170,0.413298,11,Irrigated croplands
4,9,28.410,84.875,317.7,1.1,1.1,2012-02-01,725.0,A,58.0,...,3,Gorkha,Gandaki,Sirdibas,Manaslu,85417,2729,33.361500,20,Mosaic Croplands/Vegetation

In [9]:
df_after_16.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5758 entries, 8023 to 13780
Data columns (total 23 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OBJECTID    5758 non-null   int64
 1   LATITUDE    5758 non-null   float64
 2   LONGITUDE   5758 non-null   float64
 3   BRIGHTNESS  5758 non-null   float64
 4   SCAN        5758 non-null   float64
 5   TRACK       5758 non-null   float64
 6   ACQ_DATE    5758 non-null   datetime64[ns]
 7   ACQ_TIME    5758 non-null   float64
 8   SATELLITE   5758 non-null   object
 9   CONFIDENCE  5758 non-null   float64
 10  VERSION     5758 non-null   float64
 11  BRIGHT_T31  5758 non-null   float64
 12  FRP         5758 non-null   float64
 13  WardNumber  5758 non-null   int64
 14  DISTRICT    5758 non-null   object
 15  ZONE        5758 non-null   object
 16  VDC         5758 non-null   object
 17  PA          5758 non-null   object
 18  GRIDID      5758 non-null   int64
 19  ELEVATION   5758 non-null   int64
 20  SLOPE       5758 non-null   float64
 21  LCCODE      5758 non-null   int64
 22  LANDCOVER   5758 non-null   object
dtypes: datetime64[ns](1), float64(11), int64(5), object(6)
memory usage: 1.1+ MB

In [10]:
df_after_16.reset_index()
selected_rows = []
for i in range(1000):
    index = random.randint(0, 1000)
    selected_rows.append(df_after_16.iloc[index])

In [11]:
df_subset = pd.DataFrame(selected_rows)
df_subset.head()

,OBJECTID,LATITUDE,LONGITUDE,BRIGHTNESS,SCAN,TRACK,ACQ_DATE,ACQ_TIME,SATELLITE,CONFIDENCE,...,WardNumber,DISTRICT,ZONE,VDC,PA,GRIDID,ELEVATION,SLOPE,LCCODE,LANDCOVER
8034,8191,29.79328,81.25082,312.7250,0.0,0.0,2016-01-04,716.0,A,61.0,...,8,Bajhang,Seti,Kanda,,0,2997,42.94040,1,Forest
8956,9113,27.40080,87.75433,314.3327,0.0,0.0,2016-03-25,759.0,A,67.0,...,9,Taplejung,Mechi,Phawakhola,,0,2680,31.30040,3,Grassland
8918,9075,27.27941,84.74562,316.0176,0.0,0.0,2016-03-24,716.0,A,72.0,...,99,Parsa,Narayani,Parsa wildlife reserve,,0,195,1.44966,1,Forest
9014,9171,27.58232,86.39501,313.2197,0.0,0.0,2016-03-27,435.0,T,63.0,...,5,Ramechhap,Janakpur,Gumdel,,0,1571,22.54260,3,Grassland
8176,8333,27.15528,87.67026,316.8389,0.0,0.0,2016-02-21,716.0,A,70.0,...,9,Terhathum,Koshi,Thoklung,,0,842,30.54230,1,Forest

In [12]:
df_subset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 8034 to 8801
Data columns (total 23 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OBJECTID    1000 non-null   int64
 1   LATITUDE    1000 non-null   float64
 2   LONGITUDE   1000 non-null   float64
 3   BRIGHTNESS  1000 non-null   float64
 4   SCAN        1000 non-null   float64
 5   TRACK       1000 non-null   float64
 6   ACQ_DATE    1000 non-null   datetime64[ns]
 7   ACQ_TIME    1000 non-null   float64
 8   SATELLITE   1000 non-null   object
 9   CONFIDENCE  1000 non-null   float64
 10  VERSION     1000 non-null   float64
 11  BRIGHT_T31  1000 non-null   float64
 12  FRP         1000 non-null   float64
 13  WardNumber  1000 non-null   int64
 14  DISTRICT    1000 non-null   object
 15  ZONE        1000 non-null   object
 16  VDC         1000 non-null   object
 17  PA          1000 non-null   object
 18  GRIDID      1000 non-null   int64
 19  ELEVATION   1000 non-null   int64
 20  SLOPE       1000 non-null   float64
 21  LCCODE      1000 non-null   int64
 22  LANDCOVER   1000 non-null   object
dtypes: datetime64[ns](1), float64(11), int64(5), object(6)
memory usage: 187.5+ KB

In [13]:
df_subset.reset_index()
df_subset.head()

,OBJECTID,LATITUDE,LONGITUDE,BRIGHTNESS,SCAN,TRACK,ACQ_DATE,ACQ_TIME,SATELLITE,CONFIDENCE,...,WardNumber,DISTRICT,ZONE,VDC,PA,GRIDID,ELEVATION,SLOPE,LCCODE,LANDCOVER
8034,8191,29.79328,81.25082,312.7250,0.0,0.0,2016-01-04,716.0,A,61.0,...,8,Bajhang,Seti,Kanda,,0,2997,42.94040,1,Forest
8956,9113,27.40080,87.75433,314.3327,0.0,0.0,2016-03-25,759.0,A,67.0,...,9,Taplejung,Mechi,Phawakhola,,0,2680,31.30040,3,Grassland
8918,9075,27.27941,84.74562,316.0176,0.0,0.0,2016-03-24,716.0,A,72.0,...,99,Parsa,Narayani,Parsa wildlife reserve,,0,195,1.44966,1,Forest
9014,9171,27.58232,86.39501,313.2197,0.0,0.0,2016-03-27,435.0,T,63.0,...,5,Ramechhap,Janakpur,Gumdel,,0,1571,22.54260,3,Grassland
8176,8333,27.15528,87.67026,316.8389,0.0,0.0,2016-02-21,716.0,A,70.0,...,9,Terhathum,Koshi,Thoklung,,0,842,30.54230,1,Forest

In [17]:
not_need_columns = [
    "OBJECTID", 
    "BRIGHTNESS", 
    "SCAN", 
    "TRACK", 
    "SATELLITE", 
    "CONFIDENCE", 
    "VERSION", 
    "BRIGHT_T31", 
    "VDC", 
    "PA", 
    "GRIDID",      
    "LCCODE"
]
df_subset = df_subset.drop(columns=not_need_columns , axis=1)

In [18]:
df_subset.to_excel('subset.xlsx')